<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ParkingLot" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ParkingLot" %>">
    <%= stylesheet_link_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo.ico' %>
  </head>
  <body>
    <div id="navbar-wrapper">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
    </div>
    <div id="wrapper">
      <%= render 'layouts/sidebar' %>
      <main id="page-content-wrapper" role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>